In [2]:
# Import necessary libraries
#import PyPDF2
#import re
#import nltk
#from nltk.tokenize import word_tokenize
#from nltk.tag import pos_tag
#from nltk.chunk import ne_chunk
#import fitz  # PyMuPDF

# PDF Extractor
import tabula
# Data Manipulation
import pandas as pd
import numpy as np
# Dashboarding
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

In [3]:
# Ensure necessary NLTK models are downloaded
#nltk.download('punkt')
#nltk.download('maxent_ne_chunker')
#nltk.download('words')

In [4]:
def extract_and_combine_tables(pdf_path, page_numbers, new_header):
    combined_table = pd.DataFrame()
    
    for page in page_numbers:
        # Extract table from each page
        tables = tabula.read_pdf(pdf_path, pages=page, multiple_tables=True, lattice=True)
        
        if tables:
            df = tables[0]
            # Delete the first three rows from each page
            df = df.iloc[2:]
            combined_table = pd.concat([combined_table, df], ignore_index=True)
    # Keep only the first 5 columns
    combined_table = combined_table.iloc[:, :5]  

    # Set the new header for the combined table
    combined_table.columns = new_header
    
    return combined_table

# Specify your PDF path
pdf_path = '/Users/mohjaiswal/Desktop/ArthyaInvest/OLA_DRHP.PDF'
pages = [71]  # Pages to extract
new_header = [
    "Balance Sheet", 
    "As at June 30, 2023", 
    "As at March 31, 2023", 
    "As at March 31, 2022", 
    "As at March 31, 2021"
]

# Call the function and assign the result to a variable
df = extract_and_combine_tables(pdf_path, pages, new_header)

# Display the DataFrame
df

,Balance Sheet,"As at June 30, 2023","As at March 31, 2023","As at March 31, 2022","As at March 31, 2021"
0,ASSETS,NaN,NaN,NaN,NaN
1,Non-current assets,NaN,NaN,NaN,NaN
2,"(a)\rProperty, plant and equipment","8,493.25","8,811.22","7,510.70",175.80
3,(b)\rCapital work-in-progress,"2,275.88","1,309.14",183.53,48.63
4,(c)\rRight-of-use assets,"1,269.26","1,297.87","1,390.03",359.96
5,(d)\rGoodwill,61.90,61.90,61.90,140.75
6,(e)\rOther intangible assets,"1,895.49","2,017.79","1,282.74",365.24
7,(f)\rIntangible assets under development,"4,579.94","3,762.64",646.50,378.80
8,(g)\rFinancial assets,NaN,NaN,NaN,NaN
9,(i)\rInvestments,378.60,378.60,378.60,-
10,(ii)\rOther financial assets,"1,625.54","1,533.06",251.60,16.30
11,(h)\rDeferred tax assets (net),-,-,-,-
12,(i)\rOther tax assets (net),55.82,52.86,89.10,83.80
13,(j)\rOther non-current assets,"2,629.21","2,010.27","1,528.62",860.14
14,Total non-current assets,"23,264.89","21,235.35","13,323.32","2,429.42"
15,Current assets,NaN,NaN,NaN,NaN
16,(a)\rInventories,"6,436.99","5,839.60","2,842.89",32.22
17,(b)\rFinancial assets,NaN,NaN,NaN,NaN
18,(i)\rInvestments,"2,418.80","2,381.54","10,645.82","4,554.02"
19,(ii)\rTrade receivables,925.60,842.54,152.20,3.80
20,(iii)\rCash and cash equivalents,"2,317.08","2,429.09","12,350.01","3,581.93"
21,(iv)\rBank balances other than (iii) above,"9,084.80","12,863.81","8,617.60","10,077.34"
22,(v)\rOther financial assets,"7,373.70","5,463.05",626.36,263.60
23,(c)\rOther current assets,"5,289.30","4,676.71","5,400.43",184.07
24,Total current assets,"33,846.27","34,496.34","40,635.31","18,696.98"
25,Total assets,"57,111.16","55,731.69","53,958.63","21,126.40"
26,NaN,NaN,NaN,NaN,NaN
27,EQUITY AND LIABILITIES,NaN,NaN,NaN,NaN
28,EQUITY,NaN,NaN,NaN,NaN
29,(a)\rEquity share capital,"19,554.50","19,554.50","19,554.50",0.10
30,(b)\rInstruments entirely equity in nature,"18,096.97","18,096.97","18,041.25",0.07
31,(c)\rOther equity,NaN,NaN,NaN,NaN
32,(i)\rOther components of equity,(274.20),(274.20),(274.20),(274.20)
33,(ii)\rReserves and Surplus,"(16,258.98)","(13,800.32)",(688.34),"19,992.98"
34,(iii)\rItems of other comprehensive income,(3.24),(12.51),(18.69),(12.80)
35,Total equity,"21,115.05","23,564.44","36,614.52","19,706.15"
36,NaN,NaN,NaN,NaN,NaN
37,LIABILITIES,NaN,NaN,NaN,NaN
38,Non-current liabilities,NaN,NaN,NaN,NaN
39,(a)\rFinancial liabilities,NaN,NaN,NaN,NaN
40,(i)\rBorrowings,"7,017.36","7,003.31","5,237.90",-
41,(ii)\rLease liabilities,370.33,398.60,490.37,24.30
42,(b)\rProvisions,79.18,50.50,50.73,18.80
43,(c)\rOther non-current liabilities,"1,261.93","1,205.80",-,-
44,Total non-current liabilities,"8,728.80","8,658.21","5,779.00",43.10
45,NaN,NaN,NaN,NaN,NaN
46,Current liabilities,NaN,NaN,NaN,NaN
47,(a)\rFinancial liabilities,NaN,NaN,NaN,NaN
48,(i)\rBorrowings,"9,148.37","9,454.22","2,266.17",388.72
49,(ii)\rLease liabilities,105.52,101.61,43.56,8.70
50,(iii)\rTrade payables,NaN,NaN,NaN,NaN
51,- total outstanding dues of micro enterprises ...,722.44,451.04,349.20,4.50
52,- total outstanding dues of creditors other th...,"9,684.46","6,482.36","3,219.24",427.93
53,(iv)\rOther financial liabilities,"4,447.34","3,911.73","1,715.10",417.67
54,(b)\rOther current liabilities,"2,179.11","2,309.60","3,386.30",94.92
55,(c)\rProvisions,980.07,798.48,585.54,34.71
56,Total current liabilities,"27,267.31","23,509.04","11,565.11","1,377.15"
57,Total liabilities,"35,996.11","32,167.25","17,344.11","1,420.25"
58,Total equity and liabilities,"57,111.16","55,731.69","53,958.63","21,126.40"

In [5]:
# Assuming 'df' is your DataFrame
# Clean and convert columns
for column in df.columns[1:]:  # Columns after the index
    # Remove unwanted characters (e.g., '$', commas) from the column
    df[column] = df[column].replace('[₹(),]', '', regex=True).replace(' ', '')

    # Convert to numeric, with custom handling for non-numeric data
    df[column] = pd.to_numeric(df[column], errors='coerce').fillna(0)  # Replace NaN with 0

# View the DataFrame
df

,Balance Sheet,"As at June 30, 2023","As at March 31, 2023","As at March 31, 2022","As at March 31, 2021"
0,ASSETS,0.00,0.00,0.00,0.00
1,Non-current assets,0.00,0.00,0.00,0.00
2,"(a)\rProperty, plant and equipment",8493.25,8811.22,7510.70,175.80
3,(b)\rCapital work-in-progress,2275.88,1309.14,183.53,48.63
4,(c)\rRight-of-use assets,1269.26,1297.87,1390.03,359.96
5,(d)\rGoodwill,61.90,61.90,61.90,140.75
6,(e)\rOther intangible assets,1895.49,2017.79,1282.74,365.24
7,(f)\rIntangible assets under development,4579.94,3762.64,646.50,378.80
8,(g)\rFinancial assets,0.00,0.00,0.00,0.00
9,(i)\rInvestments,378.60,378.60,378.60,0.00
10,(ii)\rOther financial assets,1625.54,1533.06,251.60,16.30
11,(h)\rDeferred tax assets (net),0.00,0.00,0.00,0.00
12,(i)\rOther tax assets (net),55.82,52.86,89.10,83.80
13,(j)\rOther non-current assets,2629.21,2010.27,1528.62,860.14
14,Total non-current assets,23264.89,21235.35,13323.32,2429.42
15,Current assets,0.00,0.00,0.00,0.00
16,(a)\rInventories,6436.99,5839.60,2842.89,32.22
17,(b)\rFinancial assets,0.00,0.00,0.00,0.00
18,(i)\rInvestments,2418.80,2381.54,10645.82,4554.02
19,(ii)\rTrade receivables,925.60,842.54,152.20,3.80
20,(iii)\rCash and cash equivalents,2317.08,2429.09,12350.01,3581.93
21,(iv)\rBank balances other than (iii) above,9084.80,12863.81,8617.60,10077.34
22,(v)\rOther financial assets,7373.70,5463.05,626.36,263.60
23,(c)\rOther current assets,5289.30,4676.71,5400.43,184.07
24,Total current assets,33846.27,34496.34,40635.31,18696.98
25,Total assets,57111.16,55731.69,53958.63,21126.40
26,NaN,0.00,0.00,0.00,0.00
27,EQUITY AND LIABILITIES,0.00,0.00,0.00,0.00
28,EQUITY,0.00,0.00,0.00,0.00
29,(a)\rEquity share capital,19554.50,19554.50,19554.50,0.10
30,(b)\rInstruments entirely equity in nature,18096.97,18096.97,18041.25,0.07
31,(c)\rOther equity,0.00,0.00,0.00,0.00
32,(i)\rOther components of equity,274.20,274.20,274.20,274.20
33,(ii)\rReserves and Surplus,16258.98,13800.32,688.34,19992.98
34,(iii)\rItems of other comprehensive income,3.24,12.51,18.69,12.80
35,Total equity,21115.05,23564.44,36614.52,19706.15
36,NaN,0.00,0.00,0.00,0.00
37,LIABILITIES,0.00,0.00,0.00,0.00
38,Non-current liabilities,0.00,0.00,0.00,0.00
39,(a)\rFinancial liabilities,0.00,0.00,0.00,0.00
40,(i)\rBorrowings,7017.36,7003.31,5237.90,0.00
41,(ii)\rLease liabilities,370.33,398.60,490.37,24.30
42,(b)\rProvisions,79.18,50.50,50.73,18.80
43,(c)\rOther non-current liabilities,1261.93,1205.80,0.00,0.00
44,Total non-current liabilities,8728.80,8658.21,5779.00,43.10
45,NaN,0.00,0.00,0.00,0.00
46,Current liabilities,0.00,0.00,0.00,0.00
47,(a)\rFinancial liabilities,0.00,0.00,0.00,0.00
48,(i)\rBorrowings,9148.37,9454.22,2266.17,388.72
49,(ii)\rLease liabilities,105.52,101.61,43.56,8.70
50,(iii)\rTrade payables,0.00,0.00,0.00,0.00
51,- total outstanding dues of micro enterprises ...,722.44,451.04,349.20,4.50
52,- total outstanding dues of creditors other th...,9684.46,6482.36,3219.24,427.93
53,(iv)\rOther financial liabilities,4447.34,3911.73,1715.10,417.67
54,(b)\rOther current liabilities,2179.11,2309.60,3386.30,94.92
55,(c)\rProvisions,980.07,798.48,585.54,34.71
56,Total current liabilities,27267.31,23509.04,11565.11,1377.15
57,Total liabilities,35996.11,32167.25,17344.11,1420.25
58,Total equity and liabilities,57111.16,55731.69,53958.63,21126.40

In [6]:
# Copy the DataFrame
indexed_df = df.copy()

# Set 'Balance Sheet' as the new index for the copied DataFrame
indexed_df.set_index('Balance Sheet', inplace=True)

# Now, indexed_df will have 'Balance Sheet' as its index
# Display the indexed DataFrame to verify the changes
# Set the maximum number of rows to display
pd.set_option('display.max_rows', 62)

# Now when you display the DataFrame, all 62 rows will be shown
indexed_df

,"As at June 30, 2023","As at March 31, 2023","As at March 31, 2022","As at March 31, 2021"
Balance Sheet,,,,
ASSETS,0.00,0.00,0.00,0.00
Non-current assets,0.00,0.00,0.00,0.00
"(a)\rProperty, plant and equipment",8493.25,8811.22,7510.70,175.80
(b)\rCapital work-in-progress,2275.88,1309.14,183.53,48.63
(c)\rRight-of-use assets,1269.26,1297.87,1390.03,359.96
(d)\rGoodwill,61.90,61.90,61.90,140.75
(e)\rOther intangible assets,1895.49,2017.79,1282.74,365.24
(f)\rIntangible assets under development,4579.94,3762.64,646.50,378.80
(g)\rFinancial assets,0.00,0.00,0.00,0.00
(i)\rInvestments,378.60,378.60,378.60,0.00
(ii)\rOther financial assets,1625.54,1533.06,251.60,16.30
(h)\rDeferred tax assets (net),0.00,0.00,0.00,0.00
(i)\rOther tax assets (net),55.82,52.86,89.10,83.80
(j)\rOther non-current assets,2629.21,2010.27,1528.62,860.14
Total non-current assets,23264.89,21235.35,13323.32,2429.42
Current assets,0.00,0.00,0.00,0.00
(a)\rInventories,6436.99,5839.60,2842.89,32.22
(b)\rFinancial assets,0.00,0.00,0.00,0.00
(i)\rInvestments,2418.80,2381.54,10645.82,4554.02
(ii)\rTrade receivables,925.60,842.54,152.20,3.80
(iii)\rCash and cash equivalents,2317.08,2429.09,12350.01,3581.93
(iv)\rBank balances other than (iii) above,9084.80,12863.81,8617.60,10077.34
(v)\rOther financial assets,7373.70,5463.05,626.36,263.60
(c)\rOther current assets,5289.30,4676.71,5400.43,184.07
Total current assets,33846.27,34496.34,40635.31,18696.98
Total assets,57111.16,55731.69,53958.63,21126.40
NaN,0.00,0.00,0.00,0.00
EQUITY AND LIABILITIES,0.00,0.00,0.00,0.00
EQUITY,0.00,0.00,0.00,0.00
(a)\rEquity share capital,19554.50,19554.50,19554.50,0.10
(b)\rInstruments entirely equity in nature,18096.97,18096.97,18041.25,0.07
(c)\rOther equity,0.00,0.00,0.00,0.00
(i)\rOther components of equity,274.20,274.20,274.20,274.20
(ii)\rReserves and Surplus,16258.98,13800.32,688.34,19992.98
(iii)\rItems of other comprehensive income,3.24,12.51,18.69,12.80
Total equity,21115.05,23564.44,36614.52,19706.15
NaN,0.00,0.00,0.00,0.00
LIABILITIES,0.00,0.00,0.00,0.00
Non-current liabilities,0.00,0.00,0.00,0.00
(a)\rFinancial liabilities,0.00,0.00,0.00,0.00
(i)\rBorrowings,7017.36,7003.31,5237.90,0.00
(ii)\rLease liabilities,370.33,398.60,490.37,24.30
(b)\rProvisions,79.18,50.50,50.73,18.80
(c)\rOther non-current liabilities,1261.93,1205.80,0.00,0.00
Total non-current liabilities,8728.80,8658.21,5779.00,43.10
NaN,0.00,0.00,0.00,0.00
Current liabilities,0.00,0.00,0.00,0.00
(a)\rFinancial liabilities,0.00,0.00,0.00,0.00
(i)\rBorrowings,9148.37,9454.22,2266.17,388.72
(ii)\rLease liabilities,105.52,101.61,43.56,8.70
(iii)\rTrade payables,0.00,0.00,0.00,0.00
- total outstanding dues of micro enterprises and small enterprises;\rand,722.44,451.04,349.20,4.50
- total outstanding dues of creditors other than micro enterprises\rand small enterprises,9684.46,6482.36,3219.24,427.93
(iv)\rOther financial liabilities,4447.34,3911.73,1715.10,417.67
(b)\rOther current liabilities,2179.11,2309.60,3386.30,94.92
(c)\rProvisions,980.07,798.48,585.54,34.71
Total current liabilities,27267.31,23509.04,11565.11,1377.15
Total liabilities,35996.11,32167.25,17344.11,1420.25
Total equity and liabilities,57111.16,55731.69,53958.63,21126.40

In [7]:
indexed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, ASSETS to Total equity and liabilities
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As at June 30, 2023   59 non-null     float64
 1   As at March 31, 2023  59 non-null     float64
 2   As at March 31, 2022  59 non-null     float64
 3   As at March 31, 2021  59 non-null     float64
dtypes: float64(4)
memory usage: 2.3+ KB

In [8]:
# Define the number of years for CAGR calculation
years = 2  # Adjust this based on your specific data

# Your existing code for calculations
def calculate_change(current, previous):
    if pd.notna(current) and pd.notna(previous) and previous != 0:
        return (current - previous) / previous * 100
    else:
        return 0

indexed_df['YoY 2019-2020'] = indexed_df.apply(lambda row: calculate_change(row[1], row[2]), axis=1)
indexed_df['YoY 2018-2019'] = indexed_df.apply(lambda row: calculate_change(row[2], row[3]), axis=1)
indexed_df['CAGR'] = indexed_df.apply(lambda row: ((row[1] / row[3]) ** (1 / years) - 1) * 100 if pd.notna(row[1]) and pd.notna(row[3]) and row[3] != 0 else 0, axis=1)

# Display the updated DataFrame
indexed_df

,"As at June 30, 2023","As at March 31, 2023","As at March 31, 2022","As at March 31, 2021",YoY 2019-2020,YoY 2018-2019,CAGR
Balance Sheet,,,,,,,
ASSETS,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
Non-current assets,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
"(a)\rProperty, plant and equipment",8493.25,8811.22,7510.70,175.80,17.315563,4.172298e+03,607.959782
(b)\rCapital work-in-progress,2275.88,1309.14,183.53,48.63,613.311175,2.774008e+02,418.848913
(c)\rRight-of-use assets,1269.26,1297.87,1390.03,359.96,-6.630073,2.861624e+02,89.884045
(d)\rGoodwill,61.90,61.90,61.90,140.75,0.000000,-5.602131e+01,-33.683572
(e)\rOther intangible assets,1895.49,2017.79,1282.74,365.24,57.303117,2.512047e+02,135.043809
(f)\rIntangible assets under development,4579.94,3762.64,646.50,378.80,482.001547,7.067054e+01,215.167443
(g)\rFinancial assets,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(i)\rInvestments,378.60,378.60,378.60,0.00,0.000000,0.000000e+00,0.000000
(ii)\rOther financial assets,1625.54,1533.06,251.60,16.30,509.324324,1.443558e+03,869.808026
(h)\rDeferred tax assets (net),0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(i)\rOther tax assets (net),55.82,52.86,89.10,83.80,-40.673401,6.324582e+00,-20.577863
(j)\rOther non-current assets,2629.21,2010.27,1528.62,860.14,31.508812,7.771758e+01,52.877166
Total non-current assets,23264.89,21235.35,13323.32,2429.42,59.384823,4.484157e+02,195.650359
Current assets,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(a)\rInventories,6436.99,5839.60,2842.89,32.22,105.410691,8.723371e+03,1246.259503
(b)\rFinancial assets,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(i)\rInvestments,2418.80,2381.54,10645.82,4554.02,-77.629342,1.337675e+02,-27.684487
(ii)\rTrade receivables,925.60,842.54,152.20,3.80,453.574244,3.905263e+03,1389.030062
(iii)\rCash and cash equivalents,2317.08,2429.09,12350.01,3581.93,-80.331271,2.447865e+02,-17.650066
(iv)\rBank balances other than (iii) above,9084.80,12863.81,8617.60,10077.34,49.273696,-1.448537e+01,12.982675
(v)\rOther financial assets,7373.70,5463.05,626.36,263.60,772.190114,1.376176e+02,355.244686
(c)\rOther current assets,5289.30,4676.71,5400.43,184.07,-13.401155,2.833900e+03,404.055913
Total current assets,33846.27,34496.34,40635.31,18696.98,-15.107477,1.173362e+02,35.831588
Total assets,57111.16,55731.69,53958.63,21126.40,3.285962,1.554085e+02,62.419570
NaN,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
EQUITY AND LIABILITIES,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
EQUITY,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(a)\rEquity share capital,19554.50,19554.50,19554.50,0.10,0.000000,1.955440e+07,44120.470373
(b)\rInstruments entirely equity in nature,18096.97,18096.97,18041.25,0.07,0.308848,2.577311e+07,50745.662830
(c)\rOther equity,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(i)\rOther components of equity,274.20,274.20,274.20,274.20,0.000000,0.000000e+00,0.000000
(ii)\rReserves and Surplus,16258.98,13800.32,688.34,19992.98,1904.869686,-9.655709e+01,-16.918216
(iii)\rItems of other comprehensive income,3.24,12.51,18.69,12.80,-33.065811,4.601563e+01,-1.139303
Total equity,21115.05,23564.44,36614.52,19706.15,-35.641816,8.580250e+01,9.352236
NaN,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
LIABILITIES,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
Non-current liabilities,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(a)\rFinancial liabilities,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(i)\rBorrowings,7017.36,7003.31,5237.90,0.00,33.704538,0.000000e+00,0.000000
(ii)\rLease liabilities,370.33,398.60,490.37,24.30,-18.714440,1.917984e+03,305.009780
(b)\rProvisions,79.18,50.50,50.73,18.80,-0.453381,1.698404e+02,63.895400
(c)\rOther non-current liabilities,1261.93,1205.80,0.00,0.00,0.000000,0.000000e+00,0.000000
Total non-current liabilities,8728.80,8658.21,5779.00,43.10,49.821942,1.330835e+04,1317.344499
NaN,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
Current liabilities,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(a)\rFinancial liabilities,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
(i)\rBorrowings,9148.37,9454.22,2266.17,388.72,317.189355,4.829826e+02,393.167455
(ii)\rLease liabilities,105.52,101.61,43.56,8.70,133.264463,4.006897e+02,241.750060
(iii)\rTrade payables,0.00,0.00,0.00,0.00,0.000000,0.000000e+00,0.000000
- total outstanding dues of micro enterprises and small enterprises;\rand,722.44,451.04,349.20,4.50,29.163803,7.660000e+03,901.154889
- total outstanding dues of creditors other than micro enterprises\rand small enterprises,9684.46,6482.36,3219.24,427.93,101.363055,6.522819e+02,289.206609
(iv)\rOther financial liabilities,4447.34,3911.73,1715.10,417.67,128.075914,3.106352e+02,206.032672
(b)\rOther current liabilities,2179.11,2309.60,3386.30,94.92,-31.795765,3.467531e+03,393.275472
(c)\rProvisions,980.07,798.48,585.54,34.71,36.366431,1.586949e+03,379.628205
Total current liabilities,27267.31,23509.04,11565.11,1377.15,103.275542,7.397858e+02,313.168139
Total liabilities,35996.11,32167.25,17344.11,1420.25,85.464979,1.121201e+03,375.909713
Total equity and liabilities,57111.16,55731.69,53958.63,21126.40,3.285962,1.554085e+02,62.419570

In [9]:
indexed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, ASSETS to Total equity and liabilities
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As at June 30, 2023   59 non-null     float64
 1   As at March 31, 2023  59 non-null     float64
 2   As at March 31, 2022  59 non-null     float64
 3   As at March 31, 2021  59 non-null     float64
 4   YoY 2019-2020         59 non-null     float64
 5   YoY 2018-2019         59 non-null     float64
 6   CAGR                  59 non-null     float64
dtypes: float64(7)
memory usage: 3.7+ KB

## Dashboarding

In [10]:
print(df.head())
print(df.columns)

                        Balance Sheet  As at June 30, 2023  \
0                              ASSETS                 0.00
1                  Non-current assets                 0.00
2  (a)\rProperty, plant and equipment              8493.25
3       (b)\rCapital work-in-progress              2275.88
4            (c)\rRight-of-use assets              1269.26

   As at March 31, 2023  As at March 31, 2022  As at March 31, 2021
0                  0.00                  0.00                  0.00
1                  0.00                  0.00                  0.00
2               8811.22               7510.70                175.80
3               1309.14                183.53                 48.63
4               1297.87               1390.03                359.96
Index(['Balance Sheet', 'As at June 30, 2023', 'As at March 31, 2023',
       'As at March 31, 2022', 'As at March 31, 2021'],
      dtype='object')

In [11]:
df.set_index('Balance Sheet', inplace=True)

In [14]:
# Test to access the value for 'Total current assets' using `.at` June 30, 2023
current_assets = df.at['Total current assets', 'As at June 30, 2023']

# Printing the value to verify
print(current_assets)

33846.27

### DashBoarding
---
The terminology you've provided corresponds to the typical line items found in a balance sheet. To adjust the financial ratios using the given terminology, we need to consider how each line item relates to the common financial metrics. Here are the formulas adapted with the provided terminology:

1. **Current Ratio**:
   $$ \text{Current Ratio} = \frac{\text{Total Current Assets}}{\text{Total Current Liabilities}} $$

2. **Quick Ratio**:
   $$ \text{Quick Ratio} = \frac{\text{Total Current Assets} - \text{Inventories (if listed)}}{\text{Total Current Liabilities}} $$
   Note: If inventories are not listed separately, they might be part of 'Other current assets' or not applicable.

3. **Debt-to-Equity Ratio**:
   $$ \text{Debt-to-Equity Ratio} = \frac{\text{Total Non-current Liabilities} + \text{Total Current Liabilities}}{\text{Equity Attributable to Equity Holders of the Company} + \text{Non-controlling Interests}} $$

4. **Return on Equity (ROE)**:
   $$ \text{ROE} = \frac{\text{Net Income}}{\text{Equity Attributable to Equity Holders of the Company} + \text{Non-controlling Interests}} $$

5. **Return on Assets (ROA)**:
   $$ \text{ROA} = \frac{\text{Net Income}}{\text{Total Assets}} $$

6. **Asset Turnover Ratio**:
   $$ \text{Asset Turnover Ratio} = \frac{\text{Net Sales}}{\text{Total Assets}} $$

7. **Inventory Turnover Ratio**:
   (If inventory is part of 'Other current assets', you would need to extract the inventory amount to calculate this ratio.)
   $$ \text{Inventory Turnover Ratio} = \frac{\text{Cost of Goods Sold}}{\text{Inventory}} $$

8. **Accounts Receivable Turnover Ratio**:
   $$ \text{Accounts Receivable Turnover} = \frac{\text{Net Credit Sales}}{\text{Trade Receivables}} $$

9. **Net Working Capital**:
   $$ \text{Net Working Capital} = \text{Total Current Assets} - \text{Total Current Liabilities} $$

10. **Leverage Ratios**:
    $$ \text{Times Interest Earned} = \frac{\text{EBIT}}{\text{Interest Expense from Borrowings}} $$

**Note**:  Some of the specific line items you might need for these calculations, such as 'Net Income', 'Net Sales', 'Cost of Goods Sold', and 'EBIT' (Earnings Before Interest and Taxes), are not listed in the terminology provided. These would typically be found on the income statement. Additionally, some ratios like Inventory Turnover and Accounts Receivable Turnover depend on more detailed information than what is provided in the balance sheet summary.

In [17]:
# Initialize the Dash application
app = dash.Dash(__name__)

# Define the layout of the dashboard
app.layout = html.Div(children=[
    html.H1(children='Balance Sheet Dashboard'),

    # Dropdown to select the year for which the metrics are to be displayed
    dcc.Dropdown(
        id='year-dropdown',
        options=[{'label': year, 'value': year} for year in df.columns],
        value=df.columns[0]
    ),
    
    # Div to hold the financial metrics
    html.Div(id='financial-metrics'),

    # Any additional graphs or tables can be added here
    # ...
])

# Define the callback to update the financial metrics
@app.callback(
    Output('financial-metrics', 'children'),
    [Input('year-dropdown', 'value')]
)
def update_financial_metrics(selected_year):
    # Initialize a list to hold the metrics elements
    metrics_list = [html.H3(f"Financial Metrics for {selected_year}")]
    
    # Helper function to safely calculate ratios
    def calculate_ratio(numerator, denominator):
        try:
            return numerator / denominator if denominator != 0 else "Undefined (Denominator is 0)"
        except (TypeError, ValueError):
            return "Data not available"

    # Helper function to get value from DataFrame safely
    def get_value(label, default=0):
        return df.loc[label, selected_year] if label in df.index else default
    
    # Calculate each ratio, handling missing data or errors
    current_ratio = calculate_ratio(get_value('Total current assets'), get_value('Total current liabilities'))
    quick_ratio = calculate_ratio(get_value('Total current assets') - get_value('Inventories'), get_value('Total current liabilities'))
    total_equity = get_value('Total equity')
    total_liabilities = get_value('Total non-current liabilities') + get_value('Total current liabilities')
    debt_to_equity_ratio = calculate_ratio(total_liabilities, total_equity)
    net_income = get_value('Net Income')
    roe = calculate_ratio(net_income, total_equity)
    total_assets = get_value('Total assets')
    roa = calculate_ratio(net_income, total_assets)
    net_sales = get_value('Net Sales')
    asset_turnover_ratio = calculate_ratio(net_sales, total_assets)
    net_working_capital = get_value('Total current assets') - get_value('Total current liabilities')
    
    # Add the calculated metrics to the metrics list
    metrics_list.append(html.P(f"Current Ratio: {current_ratio}"))
    metrics_list.append(html.P(f"Quick Ratio: {quick_ratio}"))
    metrics_list.append(html.P(f"Debt to Equity Ratio: {debt_to_equity_ratio}"))
    metrics_list.append(html.P(f"Return on Equity (ROE): {roe}%"))
    metrics_list.append(html.P(f"Return on Assets (ROA): {roa}%"))
    metrics_list.append(html.P(f"Asset Turnover Ratio: {asset_turnover_ratio}"))
    metrics_list.append(html.P(f"Net Working Capital: {net_working_capital}"))

    return metrics_list

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

In [19]:
# Note: This is just a gimmick for making the dataframe easy on the eyes where all columns containing 'Total' are made bold. Usually at this stage, the df will be exported to excel 
# Assuming indexed_df is your DataFrame
# Temporarily reset the index for styling
temp_df = indexed_df.reset_index()

# Define a bold styling function
def bold_if_total(row):
    if 'Total' in row.to_string():
        return ['font-weight: bold'] * len(row)
    else:
        return [''] * len(row)

# Apply the styling
bold_df = temp_df.style.apply(bold_if_total, axis=1)

# Display the styled DataFrame
bold_df

In [21]:
display(temp_df['Balance Sheet'])

0                                                ASSETS
1                                    Non-current assets
2                    (a)\rProperty, plant and equipment
3                         (b)\rCapital work-in-progress
4                              (c)\rRight-of-use assets
5                                         (d)\rGoodwill
6                          (e)\rOther intangible assets
7              (f)\rIntangible assets under development
8                                 (g)\rFinancial assets
9                                      (i)\rInvestments
10                         (ii)\rOther financial assets
11                       (h)\rDeferred tax assets (net)
12                          (i)\rOther tax assets (net)
13                        (j)\rOther non-current assets
14                             Total non-current assets
15                                       Current assets
16                                     (a)\rInventories
17                                (b)\rFinancial assets
18                                     (i)\rInvestments
19                              (ii)\rTrade receivables
20                     (iii)\rCash and cash equivalents
21           (iv)\rBank balances other than (iii) above
22                          (v)\rOther financial assets
23                            (c)\rOther current assets
24                                 Total current assets
25                                         Total assets
26                                                  NaN
27                               EQUITY AND LIABILITIES
28                                               EQUITY
29                            (a)\rEquity share capital
30           (b)\rInstruments entirely equity in nature
31                                    (c)\rOther equity
32                      (i)\rOther components of equity
33                           (ii)\rReserves and Surplus
34           (iii)\rItems of other comprehensive income
35                                         Total equity
36                                                  NaN
37                                          LIABILITIES
38                              Non-current liabilities
39                           (a)\rFinancial liabilities
40                                      (i)\rBorrowings
41                              (ii)\rLease liabilities
42                                      (b)\rProvisions
43                   (c)\rOther non-current liabilities
44                        Total non-current liabilities
45                                                  NaN
46                                  Current liabilities
47                           (a)\rFinancial liabilities
48                                      (i)\rBorrowings
49                              (ii)\rLease liabilities
50                                (iii)\rTrade payables
51    - total outstanding dues of micro enterprises ...
52    - total outstanding dues of creditors other th...
53                    (iv)\rOther financial liabilities
54                       (b)\rOther current liabilities
55                                      (c)\rProvisions
56                            Total current liabilities
57                                    Total liabilities
58                         Total equity and liabilities
Name: Balance Sheet, dtype: object